# python in 10 minutes

# python dynamic typing

In [66]:
newint = 10
print(newint)
print(type(newint))

10
<class 'int'>

In [67]:
newint = "sunshine"
print(newint)
print(type(newint))

sunshine
<class 'str'>

In [68]:
newfloat = 34.45
print(newfloat)

34.45

In [69]:
newchar = 'p'
print(newchar)

p

In [72]:
newstring = 'Hello friends'
print("The string is ", newstring)

The string is  Hello friends

# input and output statement

In [73]:
val = input("Give a value  ")
print(type(val))
print(val)

Give a value  45
<class 'str'>
45

In [74]:
name = input("Give your name  ")
print(name)

Give your name  Karthik
Karthik

# python collection data types

# list

In [41]:
newlist = [23,45,67,78,99,99]
print(newlist)

[23, 45, 67, 78, 99, 99]

In [75]:
newlist.append(33)
print(newlist)

[23, 45, 67, 78, 99, 99, 33]

In [ ]:
newlist.

In [76]:
print(newlist[0:7])
print(newlist[0:5:2])
print(newlist[::-1])

[23, 45, 67, 78, 99, 99, 33]
[23, 67, 99]
[33, 99, 99, 78, 67, 45, 23]

# dictionary

In [78]:
gooddict = {"Student":"Karthik",45:"Ramesh",67:"Vandana",78:"Faisal","Andy": 99}
print(gooddict)

{'Student': 'Karthik', 45: 'Ramesh', 67: 'Vandana', 78: 'Faisal', 'Andy': 99}

In [80]:
for key in gooddict:
    print(key, end=" ")

Student 45 67 78 Andy

In [81]:
for key, value in gooddict.items():
    print(key,value,end="   ")

Student Karthik   45 Ramesh   67 Vandana   78 Faisal   Andy 99

# tuple

In [82]:
newtuple = (23,45,67,78,99,99)
print(newtuple)

(23, 45, 67, 78, 99, 99)

In [83]:
newtuple.count(99)

2

In [18]:
print(newtuple[2])

67

# set

In [84]:
goodset = {23, 45, 67, 78, 99, 78}
print(goodset)

{67, 99, 23, 45, 78}

In [86]:
goodset

{23, 45, 67, 78, 99}

In [23]:
print(goodset[2])

TypeError: 'set' object is not subscriptable

# conditional statement - if and else

In [87]:
newlist = ["banana", "apple", "pear", "orange", "pomogranite", "muskmelon", "blackberry"]

if "banana" in newlist:
    print("Success")
else:
    print("Not Present")

Success

In [88]:
if (5>2):
    print("True")
else:
    print("False")

True

# for loop

In [89]:
newlist = ["banana", "apple", "pear", "orange", "pomogranite", "muskmelon", "blackberry"]
for fruit in newlist:
    print(fruit,end=" ")

banana apple pear orange pomogranite muskmelon blackberry

In [90]:
for var in range(0,6):
    print(var,end=" ")

0 1 2 3 4 5

# while loop

In [91]:
# Access every 2nd element in a list
newlist = [23, 45, 67, 87, 44, 33, 2, 11, 15, 99, 66]
index = 0
while index < len(newlist):
    print(newlist[index], end = " ")
    index = index + 2

23 67 44 2 15 66

# functions in python

In [92]:
def print_oddnumbers():
    for val in range(11,31,2):
        print(val, end = " ")
        
print_oddnumbers()

11 13 15 17 19 21 23 25 27 29

In [93]:
# Python program showing the use of default arguments

def findarea(width=15, height=3):
    return width * height

print(findarea()) # 15, 3: defaults used.
print(findarea(5)) # 5, 3: default height.
print(findarea(height=5)) # 15, 5: default width

45
15
75

In [94]:
def findoddsum():
    total = 0
    for val in range(11,31,2):
        total = total + val
    return total
        
val = findoddsum()
print(val)

200