# python dynamic typing

In [5]:
newint = 10
print(newint)

10

In [6]:
newfloat = 34.45
print(newfloat)

34.45

In [7]:
newchar = 'p'
print(newchar)

p

In [8]:
newstring = 'Hello friends'
print(newstring)

Hello friends

# python collection data types

# list

In [25]:
newlist = [23,45,67,78,99,99]
print(newlist)

[23, 45, 67, 78, 99, 99]

In [28]:
val = input("Give a value  ")
print(val)

Give a value  34
34

# dictionary

In [10]:
gooddict = {"Student":"Karthik",45:"Ramesh",67:"Vandana",78:"Faisal","Andy": 99}
print(gooddict)

{'Student': 'Karthik', 45: 'Ramesh', 67: 'Vandana', 78: 'Faisal', 'Andy': 99}

In [15]:
for key in gooddict:
    print(key, end=" ")

Student 45 67 78 Andy

In [14]:
for key, value in gooddict.items():
    print(key,value,end="   ")

Student Karthik   45 Ramesh   67 Vandana   78 Faisal   Andy 99

# tuple

In [29]:
newtuple = (23,45,67,78,99,99)
print(newtuple)

(23, 45, 67, 78, 99, 99)

In [18]:
print(newtuple[2])

67

# set

In [22]:
goodset = {23, 45, 67, 78, 99, 78}
print(goodset)

{67, 99, 23, 45, 78}

In [23]:
print(goodset[2])

TypeError: 'set' object is not subscriptable

# conditional statement - if and else

In [1]:
newlist = ["banana", "apple", "pear", "orange", "pomogranite", "muskmelon", "blackberry"]

if "banana" in newlist:
    print("Success")
else:
    print("Not Present")

Success

In [30]:
if (5>2):
    print("True")
else:
    print("False")

True

In [2]:
for var in range(0,6):
    print(var,end=" ")

0 1 2 3 4 5

In [3]:
# Access every 2nd element in a list
newlist = [23, 45, 67, 87, 44, 33, 2, 11, 15, 99, 66]
index = 0
while index < len(newlist):
    print(newlist[index], end = " ")
    index = index + 2

23 67 44 2 15 66