In [6]:
#i// first number is starting number
#// second number is ending
#// third number is step

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#print(numbers)
#print(numbers[::])
#print(numbers[::-1])
#print(numbers[3:10:2])
#print(numbers[3:9])
#print(numbers[3:9:2])
#print(numbers[-3:-10:-1])
#print(numbers[-7:-2:1])
print(numbers[-5:10:1])
print(numbers[5:9:1])
#print(numbers[-7:9:2])
#print(numbers[5::1])
#print(numbers[0::])
#print(numbers[-1::-1])

[6, 7, 8, 9, 10]
[6, 7, 8, 9]

In [7]:
name = "RaviKumar"
print(name)
print(name[::-1])

RaviKumar
ramuKivaR

In [8]:
# Input string.
s = "topeka kansas city wichita olathe"
# Separate on comma.
cities = s.split(" ");
# Loop and print each city name.
print(cities)
for city in cities:
    print(city);

['topeka', 'kansas', 'city', 'wichita', 'olathe']
topeka
kansas
city
wichita
olathe

In [9]:
str = "0000000this is string example....wow!!!0000000";
print(str.strip( '0' ))

this is string example....wow!!!

In [10]:
# Has numbers on left and right, and some syntax.
value = "50342=Data,231"

# Strip all digits.
# ... Also remove equals sign and comma.
#result = value.strip("0123456789=,")
result = value.strip("Data")
print(result)

50342=Data,231

In [11]:
i = 34;
print(i)

# Data.
s = """This string
has many
characters and many
lines."""

# Split on line breaks.
lines = s.splitlines()
print(lines)

# Loop and display each line.
for line in lines:
    print("[" +  line + "]")

34
['This string', 'has many', 'characters and many', 'lines.']
[This string]
[has many]
[characters and many]
[lines.]

In [12]:
numbers = "100.200.50"

# Split apart the numbers.
myvalues = numbers.split(".")
print(myvalues)
# Loop over strings and convert them to integers.
# ... Then sum them.
total = 0
for var in myvalues:
    print(var,end=" ")
print()
for var in myvalues:
    total = total + int(var)
print(total)

['100', '200', '50']
100 200 50
350