# 5 minute introduction to python

In [4]:
x = 10
print(x)

10

In [5]:
y = 45.57
print(y)

45.57

In [6]:
name = "Kayalvizhi"
print(name)

Kayalvizhi

In [7]:
newchar = 'y'
print(newchar)

y

In [8]:
for num in [3,4,5]:
    print(num)

3
4
5

In [9]:
count = 0
num = [ 3, 4, 5]
while( count < 3):
    print(num[count])
    count = count + 1

3
4
5

In [10]:
numlist = [1,2,3,4,5,6,7,8,9,10]
for num in numlist:
    if num % 2 == 0:
        print(num, "is even an even number")
    else:
        print(num, "is an odd number")

1 is an odd number
2 is even an even number
3 is an odd number
4 is even an even number
5 is an odd number
6 is even an even number
7 is an odd number
8 is even an even number
9 is an odd number
10 is even an even number

In [11]:
numlist = [1,2,3,4,5,6,7,8,9,10]
print(numlist)
for num in numlist:
    print(num, end = " ")
print()
count = 0
while(count< len(numlist)):
    print(numlist[count],end = " ")
    count = count + 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [12]:
numlist = (1,2,3,4,5,6,7,8,9,10)
print(numlist)
for num in numlist:
    print(num, end=" ")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10

In [13]:
numlist = {1,2,3,3,4,5,6,7,7,7,8,9,10}
print(numlist)
for num in numlist:
    print(num, end=" ")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
1 2 3 4 5 6 7 8 9 10

In [14]:
numlist = {"Reliance": 2599, "TataMotors":489, "TCS": 3434}
print(numlist)

{'Reliance': 2599, 'TataMotors': 489, 'TCS': 3434}

In [15]:
for key,value in numlist.items():
    print(key,value)

Reliance 2599
TataMotors 489
TCS 3434

In [16]:
for key,value in numlist.items():
    print(value)

2599
489
3434

In [17]:
for key,value in numlist.items():
    print(key)

Reliance
TataMotors
TCS

In [18]:
# built in functions - input(), print(), format(), map(), reduce(), range(), strip(), split(), round(), join()
# built in functions - list(), set(), tuple(), dict(), all functions with list, set, tuple and dictionary
# built in functions - sum, prod()
# keywords - in, all, any

# Find the odd numbers in the list

In [39]:
lst = [15, 11, 55, 41, 35, 62, 62, 49]
for num in lst:
    if num % 2 == 1:
        print(num, end = " ")

15 11 55 41 35 49

# Find the even numbers in the list

# Find the sum of all the numbers in the list

# Find the product of all the numbers in the list

# Find the average of a set of numbers

# Find the mode of a set of numbers

# Find the mode of a set of numbers using pandas

# Finding mean, median and mode without using libraries