# import modules

In [1]:
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np
pd.set_option('display.max_rows',None)

# read csv

In [2]:
filename = "train_university_admission_data.csv"
names = ['admit','gre','gpa','prestige']
dfTrain = pd.read_csv(filename, names=names)
dfTest = pd.read_csv(filename, names=names)

In [3]:
dfTrain = pd.read_csv("train_university_admission_data.csv")

# display data

In [4]:
dfTest.head()

   admit  gre   gpa  prestige
0  admit  gre   gpa  prestige
1      0  380  3.61      good
2      1  660  3.67      good
3      1  800     4      best
4      1  640  3.19        ok

In [5]:
dfTrain.describe()

            admit         gre         gpa
count  300.000000  300.000000  300.000000
mean     0.306667  590.866667    3.386233
std      0.461880  117.717630    0.374880
min      0.000000  300.000000    2.260000
25%      0.000000  515.000000    3.130000
50%      0.000000  600.000000    3.390000
75%      1.000000  680.000000    3.642500
max      1.000000  800.000000    4.000000