In [51]:
# format of the print function below
# print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

In [52]:
print('This sentence is output to the screen')

This sentence is output to the screen

In [53]:
a = 5
print('The value of a is', a)

The value of a is 5

In [54]:
print(1, 2, 3, 4, end = " ")
print(1, 2, 3, 4, sep='* ', end = " ")
print(1, 2, 3, 4, sep='#', end=" ")

1 2 3 4 1* 2* 3* 4 1#2#3#4

Sometimes we would like to format our output to make it look attractive. This can be done by using the str.format() method. This method is visible to any string object

Here, the curly braces {} are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index)

In [55]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [56]:
x = 10; y = 20
print("Value of x is ", x, "and value of y is", y)

Value of x is  10 and value of y is 20

In [60]:
num = int(input())
[print(num, "*{0} = {1}".format(i,num*i)) for i in range(1,11)]

12
12 *1 = 12
12 *2 = 24
12 *3 = 36
12 *4 = 48
12 *5 = 60
12 *6 = 72
12 *7 = 84
12 *8 = 96
12 *9 = 108
12 *10 = 120

[None, None, None, None, None, None, None, None, None, None]

In [ ]:
num = 12

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [25]:
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))

I love bread and butter
I love butter and bread

In [26]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodevening', name = 'John'))

Hello John, Goodevening

In [28]:
num = input("enter a number  ")
num

enter a number  9

'9'

In [29]:
print('%d %s cost $%.5f' % (6, 'bananas', 1.74))

6 bananas cost $1.74000

In [30]:
print('Hello, my name is %s.' % 'Graham')

Hello, my name is Graham.

In [31]:
print('%x, %X' % (252, 252))

fc, FC

In [32]:
print('%o, %d' % (252, 252))

374, 252

In [33]:
print('%f, %F' % (3.14159, 3.14)) # convert to string representation of a floating point number

3.141590, 3.140000

In [34]:
print('%e, %E' % (1000.0, 50)) # produce a string representing exponential (scientific) notation

1.000000e+03, 5.000000E+01

In [35]:
print("{0:b}".format(37)) # how to produce a binary representation of a number

100101

In [36]:
print(bin(37)) # how to product a binary reprsentation of a number

0b100101

In [37]:
i = 34.5567
print(i)
s = 67.99
print(s)

34.5567
67.99

In [38]:
print('%1.5f %.5f' % (i, s))

34.55670 67.99000

In [40]:
x = int(input())
y = int(input())
print(x/y)
print(x//y)

5
6
0.8333333333333334
0

In [41]:
x = float(input())
y = float(input())
print(x/y)
print(x//y)

5.6
7.9
0.7088607594936708
0.0

In [42]:
mystrone = input("Hello Karthik")
mystrtwo = input("How old are you")
print('{0} and {1}'.format(mystrone, mystrtwo))

Hello KarthikHello Karthik
How old are youI am 15 years old
Hello Karthik and I am 15 years old

In [43]:
fl = 56.779
print('{0} and {1}  {2}'.format(mystrone, fl, mystrtwo))

Hello Karthik and 56.779  I am 15 years old

In [44]:
print('%f, %s and %s' % (fl, mystrone, mystrtwo)) # convert to string representation of a floating point number

56.779000, Hello Karthik and I am 15 years old

In [45]:
print('Hello {name}, {greeting}'.format(greeting = mystrone, name = mystrtwo))

Hello I am 15 years old, Hello Karthik

In [46]:
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))
print('I love {0} and {1}'.format('butter','bread'))

I love bread and butter
I love butter and bread
I love butter and bread

In [47]:
print('I love {0} and {1}'.format(mystrone,mystrtwo))
print('I love {0} and {1}'.format(mystrtwo,mystrone))
print('I love {1} and {0}'.format(mystrone,mystrtwo))

I love Hello Karthik and I am 15 years old
I love I am 15 years old and Hello Karthik
I love I am 15 years old and Hello Karthik

In [48]:
fp = 56.89; new = "Kumar"
print('The value of a and new is', fp,new)

The value of a and new is 56.89 Kumar

In [49]:
fp = 56.89; new = "Kumar"
print("The value of a and new is", fp,new)

The value of a and new is 56.89 Kumar