In [8]:
import pandas as pd
import numpy as np

In [10]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
 pd.date_range("20230101", periods=6)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
dates = pd.date_range("20230101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01 -0.743587  0.922190  0.128841 -0.909111
2023-01-02  0.428331 -0.793352 -0.722010 -0.629037
2023-01-03  0.629302 -0.897913 -0.997750  1.443761
2023-01-04  0.582431  1.867295  1.415416 -0.236639
2023-01-05  0.459096 -0.036704 -1.232824 -0.433689
2023-01-06  1.161331  0.446416  1.121059 -1.640221

In [20]:
In [9]: df2 = pd.DataFrame(
        {
            "A": 1.0,
            "B": pd.Timestamp("20230102"),
            "C": pd.Series(2, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
        }
    ) 

df2

     A          B    C  D      E    F
0  1.0 2023-01-02  2.0  3   test  foo
1  1.0 2023-01-02  2.0  3  train  foo
2  1.0 2023-01-02  2.0  3   test  foo
3  1.0 2023-01-02  2.0  3  train  foo