In [1]:
# Load CSV Using Python Standard Library
import csv
import numpy
import pandas as pd
from pandas import read_csv
from numpy import loadtxt

In [2]:
# load python using pandas
import pandas as pd
filename = 'stocks.tsv'
defined_names = ['Price', 'Date', 'Time', 'Change', 'Volume']
data = pd.read_table(filename,names=defined_names)

In [3]:
data

        Price       Date    Time  Change  Volume
Symbol  Price       Date    Time  Change  Volume
AA      39.48  6/11/2007  9:36am   -0.18  181800
AIG     71.38  6/11/2007  9:36am   -0.15  195500
AXP     62.58  6/11/2007  9:36am   -0.46  935000
BA      98.31  6/11/2007  9:36am   +0.12  104800
C       53.08  6/11/2007  9:36am   -0.25  360900
CAT     78.29  6/11/2007  9:36am   -0.23  225400

In [4]:
data = pd.read_csv(filename,delimiter='\t',names=defined_names)

In [5]:
data

        Price       Date    Time  Change  Volume
Symbol  Price       Date    Time  Change  Volume
AA      39.48  6/11/2007  9:36am   -0.18  181800
AIG     71.38  6/11/2007  9:36am   -0.15  195500
AXP     62.58  6/11/2007  9:36am   -0.46  935000
BA      98.31  6/11/2007  9:36am   +0.12  104800
C       53.08  6/11/2007  9:36am   -0.25  360900
CAT     78.29  6/11/2007  9:36am   -0.23  225400