In [32]:
a = set()

In [33]:
a.add(34)
a.add(30)
a.add(29)
a.add(17)
a.add(41)

In [34]:
a

{17, 29, 30, 34, 41}

In [35]:
b = set()

In [36]:
b.add(41)
b.add(91)
b.add(17)
b.add(63)
b.add(55)

In [37]:
b

{17, 41, 55, 63, 91}

In [38]:
newset = {}
newset.add("John")
newset.add("Ravi")
newset.add("Vidya")
print(newset)

AttributeError: 'dict' object has no attribute 'add'

In [39]:
newset = {"Ramu"}
newset.add("Ravi")
newset.add("Vidya")
print(newset)

{'Ravi', 'Vidya', 'Ramu'}

In [40]:
c = a.difference(b)
print(c)

{34, 29, 30}

In [41]:
print(a.intersection(b))

{41, 17}

In [42]:
print(a.union(b))

{34, 41, 17, 55, 91, 29, 30, 63}

In [43]:
p = a.copy()
print(p)

{17, 34, 41, 29, 30}

In [44]:
val = a.isdisjoint(b)
print(val)

False

In [126]:
a = { 34, 41, 17, 29, 30}
b = { 55, 91, 63, 41, 17}

In [130]:
print(a)
print(b)

{34, 41, 17, 29, 30}
{34, 55, 91, 29, 30, 63}

In [131]:
print(b.symmetric_difference(a))
print(a)
print(b)

{17, 55, 41, 91, 63}
{34, 41, 17, 29, 30}
{34, 55, 91, 29, 30, 63}

In [132]:
print(a)
print(b)
b.symmetric_difference_update(a)
print(a)
print(b)

{34, 41, 17, 29, 30}
{34, 55, 91, 29, 30, 63}
{34, 41, 17, 29, 30}
{41, 17, 55, 91, 63}

In [133]:
a = { 34, 41, 17, 29, 30}
b = { 55, 91, 63, 41, 17}
print(a)
print(b)

{34, 41, 17, 29, 30}
{41, 17, 55, 91, 63}

In [134]:
c = a.difference(b)
print(c)

{34, 29, 30}

In [120]:
print(b.difference(a))

{91, 63, 55}

In [121]:
print(a)
print(b)

{34, 41, 17, 29, 30}
{41, 17, 55, 91, 63}

In [122]:
b.difference_update(a)
print(a)
print(b)

{34, 41, 17, 29, 30}
{55, 91, 63}

In [123]:
a = { 34, 41, 17, 29, 30}
b = { 55, 91, 63, 41, 17}
print(a)
print(b)

{34, 41, 17, 29, 30}
{41, 17, 55, 91, 63}

In [124]:
a.difference_update(b)
print(a)
print(b)

{34, 29, 30}
{41, 17, 55, 91, 63}

In [11]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # show that duplicates have been removed

# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
print(a)# unique letters in a

print(a - b)# letters in a but not in b

print(a | b)#letters in either a or b

print(a & b)#letters in both a and b

print(a ^ b)#letters in a or b but not both

{'pear', 'banana', 'apple', 'orange'}
{'d', 'r', 'c', 'b', 'a'}
{'d', 'b', 'r'}
{'d', 'r', 'm', 'z', 'c', 'b', 'l', 'a'}
{'c', 'a'}
{'m', 'd', 'r', 'b', 'z', 'l'}

In [12]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# print(A[0]) you cannot index in to the set

print("This gives the elements of A",A)
print("This gives the elements of B",B)

print("This give the union of A B that is A | B", A | B)

print("This gives the union of A B that is A.union(B)",A.union(B))
print("This gives the union of B A that is B union(A)",B.union(A))

print("This is A intersection B", A & B)

print("This gives the intersection of A with B A.intersection(B)",A.intersection(B))
print("This gives the intersection of B with A B.intersection(A)",B.intersection(A))

print("This gives elements in A and not in B A-B",A-B)
print("This gives elements in B and not in A B-A",B-A)

print("This gives elements in A and not in B A.difference(B)",A.difference(B)) 
print("This gives elements in B and not in A B.difference(A)",B.difference(A))

This gives the elements of A {1, 2, 3, 4, 5}
This gives the elements of B {4, 5, 6, 7, 8}
This give the union of A B that is A | B {1, 2, 3, 4, 5, 6, 7, 8}
This gives the union of A B that is A.union(B) {1, 2, 3, 4, 5, 6, 7, 8}
This gives the union of B A that is B union(A) {1, 2, 3, 4, 5, 6, 7, 8}
This is A intersection B {4, 5}
This gives the intersection of A with B A.intersection(B) {4, 5}
This gives the intersection of B with A B.intersection(A) {4, 5}
This gives elements in A and not in B A-B {1, 2, 3}
This gives elements in B and not in A B-A {8, 6, 7}
This gives elements in A and not in B A.difference(B) {1, 2, 3}
This gives elements in B and not in A B.difference(A) {8, 6, 7}

In [134]:
x = {1, 2, 3}
y = {3, 4, 5}
z = {6, 7, 3}
x.intersection_update(y, z)
print(x)

{3}

In [135]:
p = {3, 4, 7}
q = {5, 7, 9, 3, 4}
print(p.issubset(q))

True

In [136]:
p = {3, 4, 7}
q = {5, 7, 9, 3, 4}
print(q.issuperset(p))

True

In [137]:
x = {"blueberry", "Adobe", "Oracle"}
y = {"facebook", "microsoft", "blueberry"}
print(x)
print(y)

{'Adobe', 'Oracle', 'blueberry'}
{'facebook', 'microsoft', 'blueberry'}

In [138]:
z = x.difference(y) 
print(z)

{'Adobe', 'Oracle'}

In [139]:
z = x.difference_update(y)
print(x)

{'Adobe', 'Oracle'}