In [ ]:
newlist = [0,1,2,3,4,5,6,7,8,9]
print(newlist)

In [ ]:
x = range(1,10)
for val in x:
    print(val,end=" ")

In [ ]:
print([x for x in range(0,10)])

In [ ]:
newlist = [i for i in range(0,int(input("give a number")))]
# append x to empty list - for set of all x, x greater than or equal to 0 and less than 11
print(newlist)
#y = {x: x>=0, x<11 xEN} - set builder form

##### pythonic code

In [ ]:
x = [0,1,4,9,16,25.....]

In [36]:
print([x ** 2 for x in range(0,11)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
print(list(x ** 2 for x in range(0,11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
print({x ** 2 for x in range(0,11)})

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [40]:
print(set(x ** 2 for x in range(0,11)))

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [44]:
for x in range(1,11,2):
    print(x*x,end=" ")

1 9 25 49 81

In [ ]:
print([x ** 2 for x in range(101) if x % 2 == 1])
for num in range(0,101):
    if num % 2 == 1:
        print(num*num,end=" ")

In [41]:
print({x:x*x for x in range(11)})

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
print(dict((x, x*x) for x in range(11)))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
print({x*x for x in range(11)})   # S = {x: 0<x<10, xEN}

In [ ]:
print(set(x*x for x in range(11)))   # S = {x: 0<x<10, xEN}

In [ ]:
newtuple = (x*x for x in range(11))
print(newtuple)

In [ ]:
newtuple = *(x*x for x in range(11)),
print(newtuple)

In [ ]:
tuple_example = tuple(x for x in range(5))
print(tuple_example)