In [35]:
import pprint

student_dict = {'Name': 'Tuhsar Verma', 'Class': 'XII', 
     'Address': {'FLAT ':1308, 'BLOCK ':'A', 'LANE ':2, 'CITY ': 'Lucknow'}}

print(student_dict)
print("\n")
print("***With Pretty Print***")
print("-----------------------")
pprint.pprint(student_dict,width=-1)

{'Name': 'Tuhsar Verma', 'Class': 'XII', 'Address': {'FLAT ': 1308, 'BLOCK ': 'A', 'LANE ': 2, 'CITY ': 'Lucknow'}}


***With Pretty Print***
-----------------------
{'Address': {'BLOCK ': 'A',
             'CITY ': 'Lucknow',
             'FLAT ': 1308,
             'LANE ': 2},
 'Class': 'XII',
 'Name': 'Tuhsar '
         'Verma'}

In [36]:
import pprint

emp = {"Name":["Rick","Dan","Michelle","Ryan","Gary","Nina","Simon","Guru" ],
   "Salary":["623.3","515.2","611","729","843.25","578","632.8","722.5" ],   
   "StartDate":[ "1/1/2012","9/23/2013","11/15/2014","5/11/2014","3/27/2015","5/21/2013",
      "7/30/2013","6/17/2014"],
   "Dept":[ "IT","Operations","IT","HR","Finance","IT","Operations","Finance"] }

x= pprint.pformat(emp, indent=2)
print(x)

{ 'Dept': [ 'IT',
            'Operations',
            'IT',
            'HR',
            'Finance',
            'IT',
            'Operations',
            'Finance'],
  'Name': ['Rick', 'Dan', 'Michelle', 'Ryan', 'Gary', 'Nina', 'Simon', 'Guru'],
  'Salary': ['623.3', '515.2', '611', '729', '843.25', '578', '632.8', '722.5'],
  'StartDate': [ '1/1/2012',
                 '9/23/2013',
                 '11/15/2014',
                 '5/11/2014',
                 '3/27/2015',
                 '5/21/2013',
                 '7/30/2013',
                 '6/17/2014']}

In [37]:
import pprint

new = [{'Name': 'Alice XXX', 'Age': 40, 'Points': [80, 20]}, 
     {'Name': 'Bob YYY', 'Age': 20, 'Points': [90, 10]},
     {'Name': 'Charlie ZZZ', 'Age': 30, 'Points': [70, 30]}]

In [38]:
print(new)

[{'Name': 'Alice XXX', 'Age': 40, 'Points': [80, 20]}, {'Name': 'Bob YYY', 'Age': 20, 'Points': [90, 10]}, {'Name': 'Charlie ZZZ', 'Age': 30, 'Points': [70, 30]}]

In [39]:
pprint.pprint(new)

[{'Age': 40, 'Name': 'Alice XXX', 'Points': [80, 20]},
 {'Age': 20, 'Name': 'Bob YYY', 'Points': [90, 10]},
 {'Age': 30, 'Name': 'Charlie ZZZ', 'Points': [70, 30]}]

In [40]:
pprint.pprint(new, width=40)

[{'Age': 40,
  'Name': 'Alice XXX',
  'Points': [80, 20]},
 {'Age': 20,
  'Name': 'Bob YYY',
  'Points': [90, 10]},
 {'Age': 30,
  'Name': 'Charlie ZZZ',
  'Points': [70, 30]}]

In [ ]:
pprint.pprint(new, width=200)

In [41]:
pprint.pprint(new, depth=2)

[{'Age': 40, 'Name': 'Alice XXX', 'Points': [...]},
 {'Age': 20, 'Name': 'Bob YYY', 'Points': [...]},
 {'Age': 30, 'Name': 'Charlie ZZZ', 'Points': [...]}]

In [42]:
pprint.pprint(new, depth=2, width=40)

[{'Age': 40,
  'Name': 'Alice XXX',
  'Points': [...]},
 {'Age': 20,
  'Name': 'Bob YYY',
  'Points': [...]},
 {'Age': 30,
  'Name': 'Charlie ZZZ',
  'Points': [...]}]

In [43]:
pprint.pprint(new, indent=4, width=4)

[   {   'Age': 40,
        'Name': 'Alice '
                'XXX',
        'Points': [   80,
                      20]},
    {   'Age': 20,
        'Name': 'Bob '
                'YYY',
        'Points': [   90,
                      10]},
    {   'Age': 30,
        'Name': 'Charlie '
                'ZZZ',
        'Points': [   70,
                      30]}]

In [ ]:
l_long = [list(range(10)), list(range(100, 110))]

print(l_long)

pprint.pprint(l_long, width=40)

In [ ]:
pprint.pprint(l_long, width=40, compact=True)

In [44]:
s_normal = str(new)
print(s_normal)
print(type(s_normal))

[{'Name': 'Alice XXX', 'Age': 40, 'Points': [80, 20]}, {'Name': 'Bob YYY', 'Age': 20, 'Points': [90, 10]}, {'Name': 'Charlie ZZZ', 'Age': 30, 'Points': [70, 30]}]
<class 'str'>

In [45]:
s_pp = pprint.pformat(new)
print(s_pp)

[{'Age': 40, 'Name': 'Alice XXX', 'Points': [80, 20]},
 {'Age': 20, 'Name': 'Bob YYY', 'Points': [90, 10]},
 {'Age': 30, 'Name': 'Charlie ZZZ', 'Points': [70, 30]}]

In [ ]:
s_pp = pprint.pformat(new, depth=2, width=40, indent=2)
print(s_pp)

In [ ]:
l_2d = [list(range(10)), list(range(10)), list(range(10))]
print(l_2d)
pprint.pprint(l_2d)

In [ ]:
l_2d = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
print(l_2d)
pprint.pprint(l_2d)

In [ ]:
pprint.pprint(l_2d, width=20)

In [ ]:
s = pprint.pformat(l_2d, width=20)
print(s)