In [10]:
from tabulate import tabulate
data = [["Name", "Gender", "Course", "CGPA"], ["Karthik", "Male", "Engineering", "8.93"], ["Hansika", "Female", "Medicine", "9.14"], ["Paula", "Female", "Journalism", "7.95"]]
print(tabulate(data))

-------  ------  -----------  ----
Name     Gender  Course       CGPA
Karthik  Male    Engineering  8.93
Hansika  Female  Medicine     9.14
Paula    Female  Journalism   7.95
-------  ------  -----------  ----

In [11]:
print(tabulate(data, headers='firstrow'))

Name     Gender    Course         CGPA
-------  --------  -----------  ------
Karthik  Male      Engineering    8.93
Hansika  Female    Medicine       9.14
Paula    Female    Journalism     7.95

In [12]:
print(tabulate(data, headers='firstrow', tablefmt='grid'))

+---------+----------+-------------+--------+
| Name    | Gender   | Course      |   CGPA |
+=========+==========+=============+========+
| Karthik | Male     | Engineering |   8.93 |
+---------+----------+-------------+--------+
| Hansika | Female   | Medicine    |   9.14 |
+---------+----------+-------------+--------+
| Paula   | Female   | Journalism  |   7.95 |
+---------+----------+-------------+--------+

In [13]:
print(tabulate(data, headers='firstrow', tablefmt='fancy_grid'))

╒═════════╤══════════╤═════════════╤════════╕
│ Name    │ Gender   │ Course      │   CGPA │
╞═════════╪══════════╪═════════════╪════════╡
│ Karthik │ Male     │ Engineering │   8.93 │
├─────────┼──────────┼─────────────┼────────┤
│ Hansika │ Female   │ Medicine    │   9.14 │
├─────────┼──────────┼─────────────┼────────┤
│ Paula   │ Female   │ Journalism  │   7.95 │
╘═════════╧══════════╧═════════════╧════════╛